/* GENERAL AND REUSABLE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 0, 48);
  background-color: rgb(233, 233, 233);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

h1 {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
}

header img {
  line-height: 50px;
  vertical-align: middle;
}

/* MAIN */

main {
  background-color: #fff;
  padding: 20px 40px;
}

/* BUTTONS */
.btn-container {
  border-bottom: 1px solid rgb(237, 237, 237);
  padding-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.task-btn {
  color: #fff;
  background-color: rgb(0, 162, 255);
}

.section-btn {
  background-color: #fff;
  border: 1px solid rgb(237, 237, 237);
  color: rgb(203, 203, 203);
}

/* TODOLIST */
.tasks {
  margin-top: 36px;
}

.task {
  margin-top: 24px;
}

.section-name {
  font-size: 24px;
  font-weight: 800;
}

.section-name:before {
  content: "\25BC";
  font-size: 18px;
  margin-right: 5px;
}

.task-content {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-tag {
  font-size: 12px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 8px;
}

.editorial {
  background-color: rgb(0, 162, 255);
}

.q1-goals {
  background-color: rgb(166, 98, 229);
}

.recruiting {
  background-color: rgb(52, 191, 52);
}

.mobile {
  background-color: rgb(254, 165, 1);
}

.task-text-done:before {
  content: "\2611";
  font-size: 24px;
  color: rgb(2, 208, 2);
  margin-right: 5px;
}

.task-text-todo:before {
  content: "\2612";
  font-size: 24px;
  color: rgb(208, 2, 2);
  margin-right: 5px;
}
